body {
		font-size: 0.9em;
}

.column {
		display: inline-block;
		width: 45%;
		vertical-align: top;
		box-sizing: border-box;
		padding: 10px 0 20px 0;
		margin-left: 1em;
		margin-top: 2em;
}

.col-0 {
		margin-left: 3em;
}

ul {
    list-style: none;
    padding-left: 0;
		overflow: hidden;
}

ul li:nth-child(2n-1) {
		background: ghostwhite;
}

li {
		padding: 6px;
		white-space: nowrap;
}

a {
		text-decoration: none;
		color: black;
}
 
.matched {
		background: gold;
}

#header {
		position: fixed;
		top: 0px;
		left: 0px;
    z-index: 2;
    font-size: 1.1em;
    background-color: ghostwhite;
    width: 100%;
    padding: 0;
    letter-spacing: 1px;
		display: flex;
}

.hdr-span {
		margin: 4px;
		font-size: 0.8em;
		flex: 1;
}

.hdr-box {
		flex: 6;
		font-size: 1.2em;
		background-color: ghostwhite;
		outline: 0;
		border: solid ghostwhite;
		border-radius: 4px;
}

.hdr-box:focus {
		border-width: 1px;
		border-color: blue;
}

.favicon {
		width: 16px;
		height: 16px;
		vertical-align: middle;
		margin: 0 0.5em 0 0;
}
