body {
		font-size: 1em;
}

.column {
		display: inline-block;
		width: 45%;
		vertical-align: top;
		box-sizing: border-box;
		padding: 10px 0 20px 0;
		margin-left: 1em;
}

.leftcol {
		margin-left: 3em;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul li:nth-child(2n-1) {
		background: ghostwhite;
}

li {
		padding: 6px;
}

a {
		text-decoration: none;
}

hr {
		width: 10%;
		text-align: left;
		margin-left: 0;
		height: 1px;
		border-width: 0;
		background-color:antiquewhite;
}
